<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">

    <form action="http://0.0.0.0:5002/add" method=post>

        <div class="form-group">


            <label for="ID">ID:</label>
            <input type="text" class="form-control" id="ID" name="ID" >
            <br>

            <label for="START">START:</label>
            <input type="text" class="form-control" id="START" name="START"
                   placeholder="START">
            <br>

            <label for="FINISH">FINISH:</label>
            <input type="text" class="form-control" id="FINISH" name="FINISH" >
            <br>

            <label for="HOUR">HOUR:</label>
            <input type="number" class="form-control" id="HOUR" name="HOUR" >
            <br>

            <label for="DAY">DAY:</label>
            <input type="number" class="form-control" id="DAY" name="DAY" >
            <br>

            <label for="TIME">TIME:</label>
            <input type="number" class="form-control" id="TIME" name="TIME" >
            <br>

            <label for="SEATS">SEATS:</label>
            <input type="number" class="form-control" id="SEATS" name="SEATS" >

        </div>
        <button type="submit" class="btn btn-success">Adde Plane</button>
        {{myresult}}
    </form>
</div>
<br><br><br>



</body>
</html>