<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>Admin</title>
</head>
<body>


<div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>Fly</th>
                <th>Source</th>
                <th>Dest</th>
                <th>tHour</th>
                <th>Day</th>
                <th>Time</th>
                <th>Seats</th>
            </tr>
            </thead>
            <tbody>
 			 {% for segment in list %}
                <tr>
                    <td>{{ segment[0] }}</td>
                    <td>{{ segment[1] }}</td>
                    <td>{{ segment[2] }}</td>
                    <td>{{ segment[3] }}</td>
                    <td>{{ segment[4] }}</td>
                    <td>{{ segment[5] }}</td>
                    <td>{{ segment[6] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
<form action="http://0.0.0.0:5002/removehtml" method=post>
    <button type="submit" class="btn btn-success">Remove</button>
</form>
<form action="http://0.0.0.0:5002/addhtml" method=post>
    <button type="submit" >Insert</button>
</form>
</body>
</html>

