<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<div class="container">
    <div>
        <form action="http://0.0.0.0:5002/remove" method=post>
            <div class="form-group">
                <label for="RID">ID:</label>
                <input type="text" class="form-control" id="RID" name="RID" >
                <br>
            </div>
            <button type="submit" class="btn btn-success">Remove Plane</button>
        </form>
    </div>
</div>



</body>
</html>