<!DOCTYPE html>
<html lang="en">
<head>
    <title>Client</title>

</head>
<body>
<div class="container">
    <form action="http://0.0.0.0:5001/getOptimalRoute" method=post>
        <div class="form-group">
            <label for="SOURCE">Source:</label>
            <input type="text" class="form-control" id="SOURCE" name="SOURCE">
            <br>
            <label for="DEST">Destionation:</label>
            <input type="text" class="form-control" id="DEST" name="DEST">
            <br>
            <label for="DAY">Day:</label>
            <input type="number" class="form-control" id="DAY" name="DAY">
            <br>
        </div>
        <button type="submit" class="btn btn-success center">Search Route</button>
    </form>
</div>
<div class="container">

</div>
</body>
</html>
<head>
</head>

    
